{% extends "View/Layouts/" ~ __view_layout ~ ".twig" %}

{% block title %}Bienvenido a SowerPHP{% endblock %}

{% block content %}

    <div class="bg-body-tertiary rounded-3 p-5 mb-4">
        <div class="container-fluid py-5">
            <img src="{{ _base }}/img/logo.png" alt="Logo SowerPHP" class="float-end" />
            <h1 class="display-5 fw-bold">SowerPHP</h1>
            <p class="col-md-8 fs-4">Framework PHP hecho en Chile.</p>
            <a href="https://www.sowerphp.org" class="btn btn-primary btn-lg" type="button">
                Web de SowerPHP
            </a>
        </div>
    </div>

    <div class="bg-body-tertiary rounded-3 border h-100 p-5 mb-4">
        <h2 class="mb-4">¡Listo para programar!</h2>
        <p>Ya tienes instalado SowerPHP, es hora de empezar a programar.</p>
        <p>Primero, crea una página de inicio en <code>{{ project_path('/src/app/View/Pages/inicio.twig') }}</code></p>
    </div>

{% endblock %}
