<div class="row">
    <div class="col-sm-3 text-white mb-4">
        <div class="card bg-danger">
            <div class="card-body">
                <i class="{card_1_icon} fa-3x float-start"></i>
                <div class="float-end text-end">
                    <span class="h1 text-white">{card_1_quantity}</span>
                    <br/>
                    {card_1_title}
                </div>
                <div class="clearfix"></div>
            </div>
            <a href="{card_1_link}" class="text-white" style="display:{link-display}">
                <div class="card-footer d-print-none">
                    <span class="float-start">{card_1_link_title}</span>
                    <span class="float-end"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-3 text-white mb-4">
        <div class="card bg-success">
            <div class="card-body">
                <i class="{card_2_icon} fa-3x float-start"></i>
                <div class="float-end text-end">
                    <span class="h1 text-white">{card_2_quantity}</span>
                    <br/>
                    {card_2_title}
                </div>
                <div class="clearfix"></div>
            </div>
            <a href="{card_2_link}" class="text-white" style="display:{link-display}">
                <div class="card-footer d-print-none">
                    <span class="float-start">{card_2_link_title}</span>
                    <span class="float-end"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-3 text-white mb-4">
        <div class="card bg-warning">
            <div class="card-body">
                <i class="{card_3_icon} fa-3x float-start"></i>
                <div class="float-end text-end">
                    <span class="h1 text-white">{card_3_quantity}</span>
                    <br/>
                    {card_3_title}
                </div>
                <div class="clearfix"></div>
            </div>
            <a href="{card_3_link}" class="text-white" style="display:{link-display}">
                <div class="card-footer d-print-none">
                    <span class="float-start">{card_3_link_title}</span>
                    <span class="float-end"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
    <div class="col-sm-3 text-white mb-4">
        <div class="card bg-primary">
            <div class="card-body">
                <i class="{card_4_icon} fa-3x float-start"></i>
                <div class="float-end text-end">
                    <span class="h1 text-white">{card_4_quantity}</span>
                    <br/>
                    {card_4_title}
                </div>
                <div class="clearfix"></div>
            </div>
            <a href="{card_4_link}" class="text-white" style="display:{link-display}">
                <div class="card-footer d-print-none">
                    <span class="float-start">{card_4_link_title}</span>
                    <span class="float-end"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
            </a>
        </div>
    </div>
</div>
