{# {% extends "View/Layouts/" ~ __view_layout ~ ".twig" %} #}

{% extends "View/Layouts/LibreDTE.twig" %}

{% block content %}

<h1 class="page-header">{{ data.model.verbose_name }}</h1>

{% endblock %}
